tgfs.session
tgfs.session-journal
.pytest_cache
**/.pytest_cache
.idea
**/__pycache__
__pycache__
tests/fixtures
tgapp.txt
tgapp2.txt
.mypy_cache
.vscode
*.session
*.session-journal
*.stats
config.yaml